@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #110d1a;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.ace_editor {
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-top: none;
	border: 1px solid rgba(249, 249, 249, 0.08);
	/* box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2); */
	font-weight: 500 !important;
	font-size: 1.15rem !important;
	line-height: 1.5rem !important;
}
.ace_content {
	width: 100% !important;
	top: 15px !important;
	left: 15px !important;
}
.ace_scroller {
	width: 100% !important;
}
.ace_scrollbar {
	display: none !important;
}
.code-title {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border: 1px solid rgba(249, 249, 249, 0.08);
	/* box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2); */
}
